<div>
<table>
    <tr>
        <td>{{productHeader.id}}</td>
        <td>{{productHeader.name}}</td>
        <td>{{productHeader.type}}</td>
        <td>{{productHeader.sub_type}}</td>
        <td>{{productHeader.num_today}}</td>
        <td>{{productHeader.num_yesterday}}</td>
        <td>{{productHeader.total}}</td>
    </tr>
    <tr *ngFor="let item of productBodys">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.sub_type}}</td>
        <td>{{item.num_today}}</td>
        <td>{{item.num_yesterday}}</td>
        <td>{{item.total}}</td>
    </tr>
</table>
</div>

  
  
    